:root {
  --board-color: #976f55;
  --grid-color: rgba(0, 0, 0, 0.5);
  --grid-thickness: 2px;
}

.wrapper {
  width: 680px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.sides {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 20px;
}

.sides > div {
  margin: 20px;
}

#board {
  background-color: var(--board-color);
}

td {
  width: 40px;
  height: 40px;
}

tr.inner-row td.inner-cell {
  background-image: linear-gradient(var(--grid-color), var(--grid-color)),
    linear-gradient(var(--grid-color), var(--grid-color));
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: var(--grid-thickness) 100%, 100% var(--grid-thickness);
}

tr.first-row td.inner-cell {
  background-image: linear-gradient(var(--grid-color), var(--grid-color)),
    linear-gradient(var(--grid-color), var(--grid-color));
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-size: var(--grid-thickness) 50%, 100% var(--grid-thickness);
}

tr.last-row td.inner-cell {
  background-image: linear-gradient(var(--grid-color), var(--grid-color)),
    linear-gradient(var(--grid-color), var(--grid-color));
  background-repeat: no-repeat, no-repeat;
  background-position: top, center;
  background-size: var(--grid-thickness) 50%, 100% var(--grid-thickness);
}

tr.inner-row td.first-cell {
  background-image: linear-gradient(var(--grid-color), var(--grid-color)),
    linear-gradient(var(--grid-color), var(--grid-color));
  background-repeat: no-repeat, no-repeat;
  background-position: center, right;
  background-size: var(--grid-thickness) 100%, 50% var(--grid-thickness);
}

tr.inner-row td.last-cell {
  background-image: linear-gradient(var(--grid-color), var(--grid-color)),
    linear-gradient(var(--grid-color), var(--grid-color));
  background-repeat: no-repeat, no-repeat;
  background-position: center, left;
  background-size: var(--grid-thickness) 100%, 50% var(--grid-thickness);
}

tr.first-row td.first-cell {
  background-image: linear-gradient(var(--grid-color), var(--grid-color)),
    linear-gradient(var(--grid-color), var(--grid-color));
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, right;
  background-size: var(--grid-thickness) 50%, 50% var(--grid-thickness);
}

tr.first-row td.last-cell {
  background-image: linear-gradient(var(--grid-color), var(--grid-color)),
    linear-gradient(var(--grid-color), var(--grid-color));
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, left;
  background-size: var(--grid-thickness) 50%, 50% var(--grid-thickness);
}

tr.last-row td.first-cell {
  background-image: linear-gradient(var(--grid-color), var(--grid-color)),
    linear-gradient(var(--grid-color), var(--grid-color));
  background-repeat: no-repeat, no-repeat;
  background-position: top, right;
  background-size: var(--grid-thickness) 50%, 50% var(--grid-thickness);
}

tr.last-row td.last-cell {
  background-image: linear-gradient(var(--grid-color), var(--grid-color)),
    linear-gradient(var(--grid-color), var(--grid-color));
  background-repeat: no-repeat, no-repeat;
  background-position: top, left;
  background-size: var(--grid-thickness) 50%, 50% var(--grid-thickness);
}

.stone {
  width: 36px;
  height: 36px;
  margin: 2px;
  border-radius: 18px;
  opacity: 0;
  transition: opacity 0 ease-out;
  background-color: rgba(255, 255, 255, 0.25);
}

.stone.empty:hover {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
